body{
  /* div */
  position: absolute;
  width: 1120px;
  height: 1517px;
  left: 320px;
  top: 0px;
  border-radius: 0px;
  background-color: #E5E7EB;
  }
.file-upload {
  width: 512px;
  height: 330px;
  border-radius: 12px;
  border-width: 1px;
  angle: 0 deg;
  opacity: 1;
  border: 1px solid #E2E8F0;
  background-color: #E2E8F0;
}

.header {
  width: 446px;
  height: 64px;
  angle: 0 deg;
  opacity: 1;
  top: 33px;
  left: 33px;
}
.file-icon {
  width: 64px;
  height: 64px;
  border-radius: 12px;
  angle: 0 deg;
  opacity: 1;
}

.title {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  color: #111827;
}
.subtitle {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  color: #4b5563;
}

 
/*Add the class name below to the lightning-icon element.*/
.custom-icon-approval { 
 --slds-c-icon-color-foreground: #16a34a;
 --slds-c-icon-color-background: #e5e7eb;
}
.support{
  width: 446px;
  height: 24px;
  angle: 0 deg;
  opacity: 1;
  border:none;
}