# List files or directories below to ignore them when running prettier
# More information: https://prettier.io/docs/en/ignore.html
#

**/staticresources/**
.localdevserver
.sfdx
.vscode

coverage/# Salesforce metadata XML (not supported by Prettier core)
force-app/main/default/**/*.js-meta.xml
**/*.xml
