/* full screen spinner*/
.card-with-overlay {
  position: relative; /* important */
  min-height: 150px;
}

.card-with-overlay .overlay {
  position: absolute;
  inset: 0;
  display:flex;
  align-items:center;
  justify-content:center;
  background: rgba(255,255,255,0.6);
  z-index: 50;
}

/* Container with rounded corners & background */
.container {
  max-width: 1200px;
  margin: 2rem auto;
  background-color: #f9eeef;
  border-radius: 20px;
  padding: 2.5rem 3rem 3rem 3rem;
  box-shadow: 0 0 14px rgb(0 0 0 / 0.15);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* Header - Logo and Steps */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
/* Sub container */
.sub-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5em;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
  row-gap: 20px;
  margin: 0 8px 3rem 0;
  font-family: "Arial Black", Gadget, sans-serif;
  cursor: default;
}
.logo {
  width: 30px;
  height: 30px;
  stroke: #111;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none;
}

.stepper {
  float: right;
  margin: 2em 0 0 15rem;
}

/* Description text under header */
.intro-text {
  font-weight: 700;
  font-size: 15px;
  margin: 0.5rem 0 0.2rem 0;
  line-height: 1.3;
}
/* Responsive */
@media (max-width: 900px) {
  .cards {
    flex-direction: column;
  }
  .card {
    flex: 1 1 100%;
  }
  header {
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}