body {
  /*div*/
  position: absolute;
  width: 1120px;
  height: 1517px;
  background-color: #e5e7eb;
}
.container {
  padding: 24px;
  height: 900px;
  max-height: 1517px;
  opacity: 1;
  flex-wrap: wrap;
}
.header {
  width: 1056px;
  height: 68px;
  opacity: 1;
  top: 32px;
  align-items: start;
  left: 32px;
  margin: 0 0 0 24px;
  font-family: "Inter";
}
.header-title {
  width: 1056px;
  text-align: left;
  height: 36px;
  opacity: 1;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
}

.cards {
  padding: 10px;
  display: flex;
  width: 1056px;
  height: 330px;
  opacity: 1;
  margin: 0 0 0 24px;
  top: 132px;
  left: 32px;
}
.query {
  margin-left: 32.6rem;
}
.header {
  text-align: center;
  margin-bottom: 2rem;
}

.header {
  width: 1056px;
  height: 68px;
  text-align: left;
  opacity: 1;
  top: 32px;
  left: 32px;
  margin: 0 0 0 58px;
  font-family: "Inter";
}
.header-title {
  width: 1056px;
  height: 36px;
  opacity: 1;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  color: #111827;
}

.header-subtitle {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  color: #4b5563;
  letter-spacing: 0%;
}

.automatic {
  width: 446px;
  height: 24px;
  angle: 0 deg;
  opacity: 1;
  top: 40px;
}

/*database icon*/
.db-icon {
  /*Add the class name below to the lightning-icon element.*/
  --slds-c-icon-color-foreground-default: #ea580c;
  --slds-c-icon-color-background: #ffedd5;
}

/*file upload icon*/
.file-upload-icon {
  --slds-c-icon-color-foreground-default: #dbeafe;
  --slds-c-icon-color-background: #1e40af;
}
