body{
  font-family: Inter;
}
.card {
  box-sizing: border-box;
  position: absolute;
  width: 512px;
  height: 330px;
  background: #ffffff;
  border: 1px solid #e2e8f0;
  padding: 24px 0 0 0;
  margin: 24px 6rem 24px 12px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 24px; 
}

.header {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 446px;
  height: 64px; 
  opacity: 1;
  padding: 18px 0 10px 0;
  margin-left: -9px;
  top: 33px;
  left: 23px;
}
.content{
  list-style: none;
  padding: 0;
  margin: 12px 0 24px;
  color: #374151;
  font-size: 14px;
  line-height: 1.6;
}

.box-icon {
  width: 64px;
  height: 64px;
  margin: 0 25px 0 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1; 
}
.box-icon-upload {
  background: #dbeafe;
}
.box-icon-query {
  background: #ffedd5;
}

/* */
.custom-icon-upload {
  --slds-c-icon-color-foreground-default: #1e40af;
  --slds-c-icon-color-background: #dbeafe;
}

.icon-size {
  top: 16px;
  left: 23px;
  opacity: 1;
}

/*Add the class name below to the lightning-icon element.*/
.custom-icon-database { 
 --slds-c-icon-color-foreground-default: #ea580c;
 --slds-c-icon-color-background: #ffedd5;
}


.title { 
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #111827;
}
.subtitle {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #4B5563;
}

.support {
  margin: 26px 0 1.3rem 12px;
  width: 446px;
  height: 24px;
  opacity: 1;
  border: none;
  display: flex; 
}

/*Add the class name below to the lightning-icon element.*/
.custom-icon-check {
  --slds-c-icon-color-foreground-default: #16a34a;
  --slds-c-icon-color-background: #ffffff;
  width: 14px;
  height: 24px;
  opacity: 1;
  margin: 0 1.1rem 0 0;
}

/* card's text item  */
.item {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #374151;
}

/* button choose file upload*/
.btn {
  width: 446px;
  height: 48px;
  border-radius: 8px;
  opacity: 1;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  margin-left: 7.8px;
  font-size: 16px;
  color: #ffffff;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  top: 249px;
  left: 33px; 
}

/* bouton upload de fichier*/
.btn-upload {
  background: #1e40af;
  border: 1px solid #1e40af;
}

/* bouton contructeur de requête*/
.btn-query {
  background-color: #ea580c;
  border: 1px solid #ea580c;
}
